<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title></title>
  </head>
  <body>
    <form action="/favorite_fruit" method="POST" accept-charset="utf-8">
      <p>What is your favorite fruit?</p>
      {% for fruit in fruits %}
      <p>
        <input type="radio" name="fruit" value="{{fruit}}">{{fruit}}</input>
      </p>
      {% endfor %}
      <input type="submit"/>
    </form>
  </body>
</html>
